// Mixins Here


.buttoned {
	font-size: 2rem;
	display: inline-block;
  margin: 4px 2px;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: @btn-bg-color;

		&:hover {
			background-color: white;
		  color: #22283A;
		}
}

.bg-size {
  background-size: auto;
}

.border-btn {
  border: none;
  border-radius: 8px;
  box-shadow: none;
}
