// Mixins Here
.coloredNav {
   color: #f4f4f4;
}

.buttoned {
  background-color: #22283A;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin-left: 0;
  font-size: 2rem;
}
